.red-border-hov:hover{
  /* box-shadow: 0px 2px 6px 2px rgb(146, 146, 146) !important; */
  border: 1px solid rgba(255, 0, 0, 0.596) !important;
}

.object{
  object-fit: contain;
}

h1{
    color: orange;
    font-size: 40px;
    text-align: center;
    border: 3px solid yellow;
    padding: 5px;
    margin: 5px;
   
}
h1:hover{
   color: aqua;
    }
p{
    color: orangered;
    font-size: 20;
    text-align: center;
     padding: inherit;
    margin: inherit;
    
}
body{
    background: lightgray;
    text-align: center;
   
}
li{
 display: inline;
    padding: inherit;
    margin: inherit;
    color: darkslateblue;
    
    
}
li:hover{
     text-align: left;
    background-color: skyblue;
    margin: inherit;

    
}
ul{
    width: auto;
   padding: 5px;
    margin: 5px;
}

