.red-border-hov:hover{
  /* box-shadow: 0px 2px 6px 2px rgb(146, 146, 146) !important; */
  border: 1px solid rgba(255, 0, 0, 0.596) !important;
}

.object{
  object-fit: contain;
}

h1{
    color: azure;
    font-size: 40px;
    text-align: center;
    border: 3px solid yellow;
    padding: 5px;
    margin: 5px;
   
}
h1:hover{
   color: aqua;
    }

p{
    color: lavenderblush;
    font-size: 20;
    text-align: center;
     padding: inherit;
  
     
    
}
body{
    background-image: url("Books0.jpg");
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
  

   
}
li{
    display: inline;
     padding: inherit;
     margin: inherit;
    font-size: 20px;
 
    
    
}
li:hover{
     text-align: left;
    background-color: white;
    margin: inherit;
 

    
}
ul{
    width: auto;
   padding: 5px;
    margin: 5px;

}



